.jumbotron
  h2 Welcome to ffTweets &nbsp;
  h4 The best way to find quality Tweets about your fantasy team!
  ul
    li Save your fantasy teams
    li Instantly access a timeline of tweets that only mention your players
    li Tweets are pulled from a hand-curated list of 'trusted tweeters', so you know they are good
    li Log in or register to get started!

.container(ng-show='!client')
  .row
    .col-sm-3.col-xs-12
      h2 Log in
      form(role='form', novalidate, name='loginForm')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', ng-model='user.email', autofocus, required)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength='3')
      button.btn.btn-primary(ng-show='loginForm.$valid', ng-click='login()') Login

    .col-sm-3.col-xs-12
      h2 Register
      form(role='form', novalidate, name='registerForm')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', ng-model='regUser.email', autofocus, required)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password', ng-model='regUser.password', required, ng-minlength='3')
        button.btn.btn-primary(ng-show='registerForm.$valid', ng-click='register()') Register


