h3 {{title}}
//span(ng-repeat='p in players') {{p.displayName}}

//-input(type='text', list ='playerList')
//-datalist#playerList
  //-option(ng-repeat='p in players', value='{{p.displayName}}')
    //cant get value to be _id and label to be displayName and autocomplete to work


button.btn.btn-primary(ng-click='randomPlayer()') Random Player

.getTwitter(style='border: 1px solid black')
  .onePlayer
    h4 {{player.displayName}}
    h3(ng-show='results.varified')
    h2(ng-show='player.screen_name') This player already has a twitter of {{player.screen_name}}
    button.btn.btn-primary(ng-click='getTwitter(player.displayName)') Get Twitter
    button.btn.btn-primary(ng-show='results.screen_name', ng-click='addTwitter(results.screen_name)') Add Twitter @{{results.screen_name}}
    input(ng-show='results.screen_name', type='text', ng-model='customTwitter')
    button.btm.btn-primary(ng-show='results.screen_name', ng-click='addTwitter(customTwitter)') Add Custom twitter @{{customTwitter}}
    button.btm.btn-primary(ng-show='results.screen_name', ng-click='addTwitter(udf)') Add Undefined as Twitter


    pre {{results | json}}



